.titleCartelera{
    max-width: 460px;
}

h1{
    font-size: 5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    color: white;
}

.boton {
    margin-top: 10px;
    background-color: #D62247;
    width: 200px;
    height: 45px;
    font-size: 10pt;
}

.boton:hover {
    background-color: #96152f;
}