<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="row full-width">
            <a class="navbar-brand col-md-4 " routerLink="/page-home"><img src="./assets/img/logotipoNav.PNG" class=""
                    alt="logotipo web"></a>
            <div class="collapse navbar-collapse col-md-4" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/page-movie-list">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/page-actor-list">Actors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">Upcoming</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-text col-md-1" routerLink="#">
                Sign in
            </a>
        </div>
    </div>
</nav>