img {
    width: 200px;
}

nav {
    background-color: black !important;
}




/*img {
    width: 200px;
    margin-left: 15%;
}

nav {
    background-color: black !important;
    padding-top: 12px;
    padding-bottom: 12px;

}

#navbarText {
    margin-left: 20%;
}

span {
    margin-left: 70%;
}

ul li {
    margin-left: 20%;
}*/