ul {
    width: 70%;
    max-width: 70%;
    /* margin-left: 4%; */
}

.list-group-horizontal>.list-group-item:first-child:not(:last-child) {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.list-group-item {
    background-color: transparent;
    border: none;
    max-width: 200px;
}

h4 {
    color: white;
    margin-left: 4%;
    margin-top: 5%;
}

ul::-webkit-scrollbar {
    height: 12px;
}

ul::-webkit-scrollbar-track {
    background: #000000;
}

ul::-webkit-scrollbar-thumb {
    background: #D62247;
    border-radius: 6px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #90152F;
}

.director {
    position: relative;
    min-width: 220px;
}

img{
    border-radius: 5.5%;
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* min-height: 120px;
    max-height: 120px; */
    color: aliceblue;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.804) 80%, rgba(128, 128, 128, 0));
    border-radius: 8%;

}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

h5{
    color: white;
}