<div class="someDetails">
    <h5>Status</h5>
    <p>{{movie.status}}</p>

    <br>

    <h5>Original_language</h5>
    <p>{{movie.original_language}}</p>

    <br>

    <h5>Budget</h5>
    <p>${{movie.budget}}</p>

    <br>

    <h5>Revenue</h5>
    <p>${{movie.revenue}}</p>

    
    <!-- <div class="contenedor">
        <h5>Director</h5>
        <img [src]="getCartelera()" alt="" width="270px">
        <div class="text container">
            <div class="d-flex justify-content-between pt-3">
    
                <div class="title">
                    <h5 class="title"><strong>{{director?.name}}</strong></h5>
                </div>
    
            </div>
            <div class="mt-auto d-flex justify-content-between pt-3">
    
                <div class="pt-2">
                    <p>{{director?.department}}</p>
                </div>
    
                <button type="button" class="boton btn rounded-3">More Info</button>
    
            </div>
        </div>
    </div> -->
</div>