<div class="container mb-4">
    <h1>{{peopleDetails.name}}</h1>
    <div class="row">
        <div class="col-md-4">
            <img [src]="getImage()" alt="Imagen actor" class="img-fluid rounded-3">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-7">
                    <h4>Biography</h4>
                    <p class="biography">{{peopleDetails.biography}}</p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-4">
                    <h4>Personal Information</h4>
                    <p><strong>Sex</strong></p>
                    <p>{{peopleDetails.gender === 1 ? 'Female' : (peopleDetails.gender === 2 ? 'Male' : 'Unknown')}}</p>
                    <p><strong>Place of birth</strong></p>
                    <p>{{peopleDetails.place_of_birth}}</p>
                    <p><strong>Popularity</strong></p>
                    <p>{{peopleDetails.popularity}} pts</p>
                </div>
                <div>
                    <h4>Movies</h4>
                    <ul class="list-group list-group-horizontal position-relative overflow-auto">
                        <app-movie-item-details-actor class="list-group-item mx-5" *ngFor="let m of movieList"
                            [movie]="m"></app-movie-item-details-actor>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>