.degradado img {
    margin-top: 40px;
}

.degradado {
    padding-left: 5%;
    padding-right: 5%;
    height: 800px;
    background: linear-gradient(to bottom left, #D62247, #087E8B);
}

.d-flex {
    margin-top: 50px;
}

.degradado .avatar {
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

* {
    --bs-nav-tabs-link-active-color: #d64361;
    --bs-nav-link-color: rgb(177, 177, 177);
    --bs-link-hover-color: rgb(215, 215, 215);
}