<div class="d-flex caja">
    <div class="degradado text-center">
        <img [src]="getAvatar()" alt="Avatar del usuario" class="mb-4 avatar">
        <h2 class="text-light">{{getUsername()}}</h2>
        <img src="./assets/img/logoTMDB.png" alt="Logotipo de la web" class="w-75">
    </div>
    <div class="menu">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-5">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Favorite</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="item col-4 pt-5" *ngFor="let m of movieListFavorite"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Watch List</button>
                <ng-template ngbNavContent>
                    <div class="lists">
                        <div class="container">
                            <div class="row">
                                <app-movie-item-list class="col-3 ps-5 pt-5" *ngFor="let m of movieListWatchList"
                                    [movie]="m"></app-movie-item-list>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Custom Lists</button>
                <ng-template ngbNavContent>
                    <p>
                        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                        diam.
                        Nulla
                        facilisi.
                        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                        eu,
                        congue
                        et odio.
                        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                        et. Sed
                        diam urna,
                        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                        faucibus nisl
                        enim, nec
                        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                        natoque
                        penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                        ultricies
                        in
                        eget
                        neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>